{% extends "base/base.html" %}
{% load static %}
{% load humanize %}
{% block content %}
<div class="content-section">
    <div class="row mr-1 mb-1">
      <div class="col-sm">
        <h5>Menu Builder</h5>
      </div>
      <div class="float-right">

      </div>
    </div>
    <table class="table table-hover table-sm">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Name</th>
          <th scope="col">Label (Eng)</th>
          <th scope="col">Label (Swa)</th>
          <th scope="col"/>
        </tr>
      </thead>
      <tbody id="treetable-rows">
        {% for m in menus %}
          <tr class="tpd-{{ m.level }}" data-level="{{ m.level }}" data-id="{{ m.id }}" data-parent-id="{{ m.parent.id }}" data-has-children="{{ m.sub_menus.count }}">
            <th scope="row"><input type="checkbox" name="select"/></th>
            <td width="50%" class="name"><span class="oi oi-caret-right"></span> {{ m.name }}</td>
            <td>{{ m.label_en }}</td>
            <td>{{ m.label_sw }}</td>
            <td><a href="{% url 'menu-detail' m.id %}" role="button"
              class="float-right btn btn-light btn-sm pt-0 pb-0"><span class="oi oi-cog"></span></a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
</div>

<script type="text/javascript" src="{% static 'base/js/treetable.js' %}"></script>

{% endblock content%}


